@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-oswald);
}

label {
  font-family: var(--font-oswald) !important;
}

#concept-text,
footer a,
nav a,
p,
span,
li,
input,
textarea {
  font-family: var(--font-roboto-slab);
}
